html {height: 100%;}
body {
  background: linear-gradient(black, deepskyblue, blue);
  background-attachment: fixed;
}
h2 {
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  text-shadow: -3px 3px black;
  color: deepskyblue;
}
h3{text-align: center;}
.back {
  color: black;
  font-size: 25px;
}
p {
  text-align: left;
  font-size: 27px;
  font-family: sans-serif;
}
.list {
  font-family: sans-serif;
  color: black;
  text-shadow: -2px 2px skyblue;
  font-size: 25px;
}
.list1 {
  font-family: sans-serif;
  color: skyblue;
  text-shadow: 3px 3px black;
  font-size: 25px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.tag{
  text-align: center;
  font-size: 25px;
}