body {background-color: #333333;}
h1 {
  text-align: center;
  color: forestgreen;
  text-shadow: 3px 3px black;
  font-size: 60px;
  animation: rgb 5s infinite;
}
h2 {
  text-align: center;
  font-size: 40px;
  color: whitesmoke;
}
@keyframes rgb {
  0% {color: mediumpurple;}
  20% {color: darkred;}
  40%{color: orange;}
  60% {color: deepskyblue;}
  80% {color: green;}
  100% {color: mediumpurple;}
}
p {
  text-align: left;
  color: darkturquoise;
  font-size: 30px;
  font-family: sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dub {border-color: rebeccapurple;}
.trap {border-color: darkred;}
.house{border-color: orange;}
.dnb{border-color: deepskyblue;}
.hop{border-color: palegreen;}
.spo {border-color: black;}
img {
  width: 350px;
  height: 300px;
  margin: 30px;
  border-style: inset;
  border-width: 20px;
}