body {background-color: #333333;}
h1 {
  text-align: center;
  color: forestgreen;
  text-shadow: 3px 3px black;
}
p {
  text-align: left;
  color: darkturquoise;
  font-size: 30px;
  font-family: sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dub {border-color: rebeccapurple;}
.trap {border-color: darkred;}
.house{border-color: orange;}
.dnb{border-color: deepskyblue;}
.hop{border-color: palegreen;}
.spo {border-color: black;}
img {
  width: 350px;
  height: 300px;
  margin: 30px;
  border-style: inset;
  border-width: 20px;
}