html {height: 100%;}
body {
  background: linear-gradient(darkred, red, black);
  background-attachment: fixed;
}
h2 {
  text-align: center;
  font-size: 40px;
  text-shadow: -3px 3px red;
}
h3{text-align: center;}
.back {
  color: black;
  font-size: 25px;
}
p {
  text-align: center;
  font-size: 29px;
  font-variant: small-caps;
}
.list {
  color: black;
  text-shadow: -3px 2px palevioletred;
  font-variant: small-caps;
  font-size: 25px;
}
.list1 {
  color: palevioletred;
  text-shadow: 4px 3px black;
  font-variant: small-caps;
  font-size: 25px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
a {
  color: rebeccapurple;
}